aws.s3.input = input.video.cc.ewi.tudelft.nl
aws.s3.output = output.video.cc.ewi.tudelft.nl
aws.s3.access_key = {{access_key}}
aws.s3.secret_key = {{secret_key}}
aws.s3.check_interval = 15

aws.ec2.type = t2.micro
aws.ec2.image = ami-b0b51cc7
aws.ec2.security = default
aws.ec2.key = scheduler

scheduler.assign_interval = 10
scheduler.max_waiting_time = 600
scheduler.max_ratio = 3

cluster_health.max_missed_checks = 3
cluster_health.interval = 5
cluster_health.chaos_probability = 1
cluster_health.chaos_interval = 60
cluster_health.min_nodes = 5

provision.check_load_interval = 15
provision.max_nodes = 100

workgenerator.chance_old_task = 0.1
workgenerator.timeout_min_ms = 3000
workgenerator.timeout_max_ms = 10000
